.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  text-decoration: none;

  .logo-container {
    height: 100%;
    width: 90px;
    padding: 25px;
    display: flex;

    .logo {
      font-size: 50px;
      color: #444;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .option {
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: #777;
    &:hover {
      color: black;
    }
  }
}
